<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title><code>{{ .title }}</code></title>
	</head>
	<body>

		{{ template "header.html" }}

		<table border="2">
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>URL</th>
				</tr>
			</thead>
			<tbody>
				{{ range .videos }}
					<tr>
						<td>{{ .Title }}</td>
						<td>{{ .Description }}</td>
						<td> <a href="{{ .URL }}"> {{ .URL }} </a> </td>
					</tr>
				{{ end }}
			</tbody>
		</table>

		{{ template "footer.html" }}
		
	</body>
</html>
